.background{
    height: 100vh;
    background-image: url("../../assets/banner2.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.no-home{
    background-color: #6a16f3;
    z-index: -1;
    /* background-image: url("../../assets/img/yoga_mo1.png"); */
}
.logoSide{
    background-image: url("../../assets/lo_be1.png");
    background-repeat: no-repeat;
    
    height: 21vh;
    width: 45vw;
}
.lo_be{
    text-align: center;
    margin-left: 5%;
    margin-top: 3%;
}
.navList{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu{
    color: white;
    font-size:medium;
    font-weight: 500;
    text-align: center;
    padding: 1%;
    width: 8vw;
    height: 5vh;
}
.tab{
    
   color: white;
   font-size:medium;
   font-weight: 500;
   text-align: center;
   padding: 1%;
   width: 8vw;
   height: 5vh;
   border-radius: 12%;
   background-color: #001935;
    transition-delay: 0.3s ease-in-out;
}
.menu:hover{
    border-radius: 12%;
    background-color: #001935;
 transition: 0.9s;   
}
.description{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001935;
    height: 12vh;
}
.d-head{
    font-size: xxx-large;
    font-weight: 800;
    color: white;
}
.menuIcon{
    display: none;
}

@media only screen and (max-width: 999px) {
    .navList {
      flex-direction: column;
      background-color: #001935;
      padding: 2%;
      width: 34%;
    position: relative;
    left: 12%;
    margin-top: 6%;

    }
    .menu{
        width: 100%;
       text-align: start;

    }
    .menuIcon{
   display: block;
    width: 55px;
    height: 17px;
    position: relative;
    left: 46%;
    margin-top: 2%;
    }
    .hide{
        display: none;
    }
  }

  @media only screen and (max-width: 599px) {
.menuIcon{
    left: 40%;
}
.navList{
    width: 29%;
    margin-top: 9%;
    /* height: 18%; */
    padding: 2%;
}
  }
