<div class="description">
  <h1 class="d-head">About Us</h1>
  <p class="d-para">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni ducimus
    minus quos velit ex voluptatibus facilis nesciunt, eos, nostrum sequi nihil,
    quae aliquid inventore quis temporibus expedita repudiandae porro
    consequatur!
  </p>
</div>
<div class="aboutUsImg">
  <img width="80%" src="../../../assets/img/about.png" />
  <div class="read_more">
    <button class="read_btn">Read More</button>
  </div>
</div>
