<div class="container mt-5 mb-5">
  <ngb-carousel class="carousel" *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <div class="container-head"></div>

        <img class="circular" src="assets/tes.png" />
        <div class="container-box">
          <h1 class="name">Aliqua</h1>
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <div class="container-head"></div>

        <img class="circular" src="assets/tes.png" />
        <div class="container-box">
          <h1 class="name">Aliqua</h1>
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <div class="container-head"></div>

        <img class="circular" src="assets/tes.png" />
        <div class="container-box">
          <h1 class="name">Aliqua</h1>
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam
          </p>
        </div>
      </div>
    </ng-template>

    ></ngb-carousel
  >
</div>
