<div class="innerContainer">
  <div class="row">
    <div class="col-md-5 imgDiv1">
      <img width="100%" height="100%" src="assets/yoga_mo1.png" />
    </div>
    <div class="col-md-7 inner">
      <h1 class="head">Mind in Balance</h1>
      <p class="para">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
        laboriosam, veniam asperiores debitis sint praesentium doloribus, id
        ratione veritatis est quibusdam? Minima, accusamus excepturi. Molestiae
        similique harum corrupti iste laborum!
      </p>
      <hr class="line" />
      <button class="read_btn">READ MORE</button>
    </div>
  </div>
</div>
