<div class="description">
  <h1 class="d-head" [ngClass]="bgClass">Our Classes</h1>
  <p class="d-para">
    Lorem ipsum dolor sit amet consectetur adipisicing elit earum aliquam quis
  </p>
</div>
<div class="classes1">
  <div><img src="../../../assets/img/our_yoga1.png" /></div>
  <div>
    <h1 class="yoga_name">Hatha Yoga</h1>
    <p class="yoga_desc">Lorem ipsum dolor sit, amet</p>
  </div>
</div>
<div class="classes2">
  <div class="classes1">
    <div><img src="../../../assets/img/our_yoga2.png" /></div>
    <div>
      <h1 class="yoga_name">Hatha Yoga</h1>
      <p class="yoga_desc">Lorem ipsum dolor sit, amet</p>
    </div>
  </div>
  <div class="classes1">
    <div><img src="../../../assets/img/our_yoga3.png" /></div>
    <div>
      <h1 class="yoga_name">Hatha Yoga</h1>
      <p class="yoga_desc">Lorem ipsum dolor sit, amet</p>
    </div>
  </div>
</div>
<div class="classes1">
  <div><img src="../../../assets/img/our_yoga4.png" /></div>
  <div>
    <h1 class="yoga_name">Hatha Yoga</h1>
    <p class="yoga_desc">Lorem ipsum dolor sit, amet</p>
  </div>
</div>
<div class="read_more">
  <button class="read_btn">Read More</button>
</div>
