<div class="container">
  <div class="row">
    <div class="col-md-4 quick">
      <ul>
        <h2>QUICK LINKS</h2>
        <li routerLink="/home">Home</li>
        <li routerLink="/about-us">About</li>
        <li routerLink="/classes">Classes</li>
        <li routerLink="/yoga">Yoga</li>
        <li routerLink="/pricing">pricing</li>

        <li routerLink="/contact-us">Contact us</li>
      </ul>
    </div>
    <div class="col-md-4 middle">
      <h2>TOP YOGA</h2>
      <p class="top">
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered alteration in some form, by injected humou
      </p>
    </div>
    <div class="col-md-4 middle">
      <h2>Contact</h2>

      <div class="endLink">
        <span> <mat-icon class="icon">location_on</mat-icon></span
        >Location
      </div>
      <div class="endLink">
        <span> <mat-icon class="icon">mail</mat-icon></span
        >mail@domain.com
      </div>
      <div class="endLink">
        <span> <mat-icon class="icon">phone_iphone</mat-icon></span
        >Call : +01 1234567890
      </div>
      <div class="social"></div>
    </div>
  </div>
</div>
