<div class="container">
  <h1 [ngClass]="bgClass" class="d-head">Pricing</h1>
  <p [ngClass]="bgClass" class="d-para">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
  </p>
  <div class="price">
    <div class="row">
      <div class="price1 col-md-4">
        <h1 class="starter">STARTER PLAN</h1>
        <div class="dollar mt-5"><span class="dollarSymbol">$</span>60</div>
        <p class="priceD">
          Unlimited access to content Fully Secure online backup One Year round
          the clock support FREE complimentary lanyard
        </p>
        <button class="read_btn">START NOW</button>
      </div>
      <div class="price2 col-md-4">
        <h1 class="starter">STARTER PLAN</h1>
        <div class="dollar mt-5"><span class="dollarSymbol">$</span>60</div>
        <p class="priceD">
          Unlimited access to content Fully Secure online backup One Year round
          the clock support FREE complimentary lanyard
        </p>
        <button class="read_btn">START NOW</button>
      </div>
      <div class="price3 col-md-4">
        <h1 class="starter">STARTER PLAN</h1>
        <div class="dollar mt-5"><span class="dollarSymbol">$</span>60</div>
        <p class="priceD">
          Unlimited access to content Fully Secure online backup One Year round
          the clock support FREE complimentary lanyard
        </p>
        <button class="read_btn">START NOW</button>
      </div>
    </div>
  </div>
</div>
