<app-classes></app-classes>
<div class="innerContainer">
  <div class="row">
    <div class="col-md-8 inner">
      <h1 class="head">The Inner Middle.</h1>
      <p class="para">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
        laboriosam, veniam asperiores debitis sint praesentium doloribus, id
        ratione veritatis est quibusdam? Minima, accusamus excepturi. Molestiae
        similique harum corrupti iste laborum!
      </p>
      <hr class="line" />
      <button class="read_btn">READ MORE</button>
    </div>
    <div class="col-md-4 imgDiv">
      <img width="100%" height="100%" src="../../assets/img/yoga_mo.png" />
    </div>
  </div>
</div>
<app-about-us></app-about-us>
